<div id="app-main-window" class="container panel panel-primary panel-root panel-body" >
    <app-header [title]='appName+" "+appVersion'></app-header>
    <app-topnav></app-topnav>
    <rang-messages [messages]='notifications' (onClear)="onClear($event)"></rang-messages>

    <app-sidebar></app-sidebar>
    <main>
        <section id="content">
            <router-outlet></router-outlet>
        </section>
    </main> 
    <app-aside (notify)="onNotify($event)"></app-aside>

    <app-footer></app-footer>
</div>